<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter passengers">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    <!--- ng update @angular/cli @angular/core
          Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="passengerid">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.passengerid}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pClass">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Class</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.pClass}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sex">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Sex</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.sex}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.age}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sibsp">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Sib Sp</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.sibsp}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="parch">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Parch </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.parch}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
  <ng-container matColumnDef="ticket">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ticket </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ticket}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
  <ng-container matColumnDef="fare">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fare </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fare}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
  <ng-container matColumnDef="cabin">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cabin </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cabin}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
  <ng-container matColumnDef="embarked">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Embarked </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.embarked}} </mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, row.passengerid, row.pClass, row.name,
        row.sex, row.age, row.sibsp, row.parch, row.ticket,
        row.fare, row.cabin, row.embarked)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, row.passengerid, row.pClass, row.name,
        row.sex, row.age, row.sibsp, row.parch, row.ticket,
        row.fare, row.cabin, row.embarked)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="3"
                 [pageSizeOptions]="[3,6,10]">
  </mat-paginator>
</div>
